.games {
  z-index:1;
  top:0;
  width: 45%;
  text-align:center;
  padding:0;
  left:auto;
  margin-right:45%;
  }
.videos {
  z-index:1;
  top:0;
  width: 45%;
  text-align:center;
  padding:0;
  right:auto;
  margin-left:45%;
  float:left;
  }
