.games {
  z-index:1;
  top:0;
  left:0;
  position:absolute;
  width: 49%;
  text-align:center;
  overflow:auto;
  }
.videos {
  z-index:1;
  top:0;
  right:0;
  overflow:auto;
  margin-right:100%;
  margin-left:61%;
  width: 49%;
  text-align:center
  }
